@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    @foreach (var emp in Model)
    {
        <div class="search-result-item"
             data-id="@emp.Id"
             data-name="@emp.FullName"
             data-code="@emp.Code">
            <div class="item-info">
                <div class="item-name">@emp.FullName</div>
                <div class="item-meta">
                    <span class="badge-code">@emp.Code</span>
                </div>
            </div>
            <div class="item-action">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    }
}
else
{
    <div class="search-result-empty">No employees found.</div>
}
